<h2>Submit a Question</h2>
<%= form_for @question do |f| %>

<%= f.label :title %><br>
<% if @question.errors[:title].any? %>
  <%= @question.errors[:title][0] %>
<% end %>
<%= f.text_area :title %><br>

<%= f.label :description %><br>
<% if @question.errors[:description].any? %>
  <%= @question.errors[:description][0] %>
<% end %>
<%= f.text_area :description %><br>
<%= f.submit %>
<%end%>

<% if @question.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@question.errors.count, "error") %> prohibited this article from being saved:</h2>
  <ul>
    <% @question.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
  <%end%>
  </ul>
  </div>
<% end %>

